/dev/vault/data
/dev/vault/logs
/dev/vault/policies
/dev/vault/token
/dev/vault/unseal

/dev/qkms/config/apikey

/dev/test/.env

/prod-tls/vault/data
/prod-tls/vault/logs
/prod-tls/vault/policies
/prod-tls/vault/token
/prod-tls/vault/unseal

/prod-tls/ca/certs
/prod-tls/ca/vault/data
/prod-tls/ca/vault/logs
/prod-tls/ca/vault/policies
/prod-tls/ca/vault/token
/prod-tls/ca/vault/unseal

/prod-tls/certs

/prod-tls/test/.env
